<mat-tab-group style="height: 100vh;" [selectedIndex]="selectedTab">
	<mat-tab label="Stores list" style="height: 100vh; padding:30px">
		<div *ngIf="storeList">
			<br>
			<div class="col-md-12 col-sm-6">
				<input #search class="form-control" id="searchTextId" (keyup)="searchStores(search.value)"
					[ngModel]="searchText" name="search" placeholder="Buscar...">
			</div>
			<div class="row" *ngIf="storeList" style="margin: 0px 20px 30px 20px">
				<div *ngFor="let store of storeList" class="col-3" (click)="goToStore(store)"
					style="margin-top: 40px; cursor: pointer;">
					<div class="card custom-store-card">
						<img bind-src="store.logo_img ? (imagePath + store.logo_img): noImage"
							class="card-img-top custom-store-img" alt="{{ store.name }}" style="height: 120px;">
						<div class="card-body">
							<h5 class="card-title text-center text-capitalize"><u>{{store.name}}</u></h5>
							<p class="card-text custom-store-card-text"><b>Username: </b>{{ store.username }}</p>
							<p class="card-text custom-store-card-text"><b>Email: </b>{{ store.email }}</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</mat-tab>
	<mat-tab *ngIf="auth.isAdmin()" label="Register store" style="height: 100vh;">
		<div class="container container-fluid">
			<select [(ngModel)]="newStore.user">
				<option *ngFor="let user of userList" [ngValue]="user._id">{{ user.username }}</option>
			</select>
			<button (click)="registerStore()" class="btn btn-primary">Register store</button>
			{{ newStore | json }}
		</div>
	</mat-tab>
	<mat-spinner [style.display]="showSpinner ? 'block' : 'none'"></mat-spinner>
</mat-tab-group>
