<mat-toolbar color="primary">
    <mat-toolbar-row>
        <span><img src=""></span>
        <span class="example-fill-remaining-space"></span>
        <span class="align-center"></span>
        <span class="example-spacer"></span>

        <button (click)="registerUser()" mat-button>Register</button>
        <button *ngIf="auth.isAuthenticated()" (click)="userProfile()" mat-button>User profile</button>
        <button *ngIf="!auth.isAuthenticated()" (click)="login()" mat-button>Login</button>
        <button *ngIf="auth.isAuthenticated()" (click)="logout()" mat-button>Logout</button>
    </mat-toolbar-row>
</mat-toolbar>