<mat-card class="register-card text-center">
    <mat-card-header>
        <mat-card-title>Register</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <form class="register-form">
            <table class="table-register" cellspacing="0">
                <tr>
                    <td>
                        <mat-form-field class="register-full-width">
                            <input matInput placeholder="Username" [(ngModel)]="user.username" name="username" required>
                        </mat-form-field>
                    </td>
                </tr>
                <tr>
                    <td>
                        <mat-form-field class="register-full-width">
                            <input matInput placeholder="Password" [(ngModel)]="user.password" type="password" name="password" required>
                        </mat-form-field>
                    </td>
                </tr>
                <tr>
                    <td>
                        <mat-form-field class="register-full-width">
                            <input matInput placeholder="Name" [(ngModel)]="user.name" name="name" required>
                        </mat-form-field>
                    </td>
                </tr>
                <tr>
                    <td>
                        <mat-form-field class="register-full-width">
                            <input matInput placeholder="Email" [(ngModel)]="user.email" type="email" name="email" required>
                        </mat-form-field>
                    </td>
                </tr>
                <tr>
                    <td>
                        <mat-form-field class="register-full-width">
                            <input matInput placeholder="DB URL" [(ngModel)]="user.database_url" name="database_url" required>
                        </mat-form-field>
                    </td>
                </tr>
                <tr>
                    <td>
                        <mat-form-field class="register-full-width">
                            <input matInput placeholder="DB Name" [(ngModel)]="user.database_name" name="database_name" required>
                        </mat-form-field>
                    </td>
                </tr>
                <tr>
                    <td>
                        <mat-form-field class="register-full-width">
                            <input matInput placeholder="DB Port" [(ngModel)]="user.database_port" name="database_port" required>
                        </mat-form-field>
                    </td>
                </tr>
                <tr>
                    <td>
                        <mat-form-field class="register-full-width">
                            <input matInput placeholder="DB Username" [(ngModel)]="user.database_username" name="database_username" required>
                        </mat-form-field>
                    </td>
                </tr>
                <tr>
                    <td>
                        <mat-form-field class="register-full-width">
                            <input matInput placeholder="DB Password" [(ngModel)]="user.database_password" type="password" name="database_password" required>
                        </mat-form-field>
                    </td>
                </tr>
            </table>
        </form>
        <mat-spinner [style.display]="showSpinner ? 'block' : 'none'"></mat-spinner>
    </mat-card-content>
    <mat-card-actions>
        <button mat-raised-button (click)="register()" color="primary">Register user!</button>
    </mat-card-actions>
</mat-card>
