<div class="container container-fluid">
    <div class="row">
        <div class="col-lg-3 col-md-4 col-sm-6" (click)="goToUsers()" *ngIf="auth.isAdmin()" style="margin-top: 40px; cursor: pointer;">
            <div class="card custom-card">
                <img src="assets/user_icon.png" class="card-img-top custom-img" alt="user_icon" />
                <div class="card-body">
                    <h5 class="card-title text-center"><u>Users</u></h5>
                    <p class="card-text custom-card-text">
                        Some quick example text to build on the card title and make up the bulk of the card's content.
                    </p>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6" (click)="goToStores()" style="margin-top: 40px; cursor: pointer;">
            <div class="card custom-card">
                <img src="assets/store_icon.png" class="card-img-top custom-img" alt="store_icon" />
                <div class="card-body">
                    <h5 class="card-title text-center"><u>Stores</u></h5>
                    <p class="card-text custom-card-text">
                        Some quick example text to build on the card title and make up the bulk of the card's content.
                    </p>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6" (click)="goToProfile()" style="margin-top: 40px; cursor: pointer;">
            <div class="card custom-card">
                <img src="assets/profile_icon.png" class="card-img-top custom-img" alt="profile_icon" />
                <div class="card-body">
                    <h5 class="card-title text-center"><u>Profile</u></h5>
                    <p class="card-text custom-card-text">
                        Some quick example text to build on the card title and make up the bulk of the card's content.
                    </p>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6" (click)="goToProfile()" *ngIf="auth.isAdmin()" style="margin-top: 40px; cursor: pointer;">
            <div class="card custom-card">
                <img src="assets/settings_icon.png" class="card-img-top custom-img" alt="settings_icon" />
                <div class="card-body">
                    <h5 class="card-title text-center"><u>Settings</u></h5>
                    <p class="card-text custom-card-text">
                        Some quick example text to build on the card title and make up the bulk of the card's content.
                    </p>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6" (click)="logout()" style="margin-top: 40px; cursor: pointer;">
            <div class="card custom-card">
                <img src="assets/logout_icon.png" class="card-img-top custom-img" alt="logout_icon" />
                <div class="card-body">
                    <h5 class="card-title text-center"><u>Logout</u></h5>
                    <p class="card-text custom-card-text">
                        Some quick example text to build on the card title and make up the bulk of the card's content.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
