<div class="container container-fluid">
    <div class="row">
        <div class="col-md-11 col-sm-6">
            <input #search class="form-control" id="searchTextId" (keyup)="searchUsers(search.value)" [ngModel]="searchText" name="search" placeholder="Buscar...">
        </div>
    </div>
    <br>
    <div class="row" *ngIf="userList">
        <div *ngFor="let user of userList" class="card" style="width: 15rem; margin: 0px 15px 35px 15px;">
            <img bind-src="user.logo_img ? (imagePath + user.logo_img): noImage" class="card-img-top" alt="{{ user.name }}" style="height: 140px;">
            <div class="card-body">
                <h5 class="card-title text-center text-capitalize"><u>{{user.name}}</u></h5>
                <br>
                <p class="card-text"><b>Username: </b>{{ user.username }}</p>
                <p class="card-text"><b>Email: </b>{{ user.email }}</p>
                <p class="card-text"><b>Database URL: </b>{{ user.database_url }}</p>
                <p class="card-text"><b>Database NAME: </b>{{ user.database_name }}</p>
                <br>
                <div class="row text-center">
                    <button (click)="userDetail(user._id)" class="btn btn-primary">Edit user</button>
                    <button (click)="userStores(user)" class="btn btn-primary">View stores</button>
                </div>
            </div>
        </div>
    </div>
</div>
