<mat-tab-group style="height: 100vh;" [selectedIndex]="selectedTab">
    <mat-tab label="User list" style="height: 100vh; padding:30px">
        <div *ngIf="userList">
            <br />
            <div class="col-md-12 col-sm-6">
                <input #search class="form-control" id="searchTextId" (keyup)="searchUsers(search.value)" [ngModel]="searchText" name="search" placeholder="Buscar..." />
            </div>
            <div class="row" style="margin: 0px 20px 30px 20px">
                <div *ngFor="let user of userList" class="col-lg-3 col-md-4 col-sm-6" (click)="userDetail(user._id)" style="margin-top: 40px; cursor: pointer;">
                    <div class="card custom-user-card">
                        <img bind-src="user.logo_img ? imagePath + user.logo_img : noImage" class="card-img-top custom-user-img" alt="{{ user.name }}" />
                        <div class="card-body">
                            <h5 class="card-title text-center text-capitalize">
                                <u>{{ user.name }}</u>
                            </h5>
                            <p class="card-text">
                                <b>Username: </b>{{ user.username }}
                            </p>
                            <p class="card-text">
                                <b>Email: </b>{{ user.email }}
                            </p>
                            <br />
                            <div class="row text-center">
                                <!-- <button mat-raised-button (click)="userDetail(user._id)" style="font-size: 12px; background: #3f51b5;">
									Edit user
								</button> -->
                                <button mat-raised-button color="primary" (click)="userStores(user)" style="margin: 0px auto;">
									View stores
								</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </mat-tab>
    <mat-tab *ngIf="auth.isAdmin()" label="Register new user" style="height: 100vh;">
        <mat-card class="register-card text-center">
            <mat-card-content>
                <form class="register-form">
                    <table class="table-register" cellspacing="0">
                        <tr>
                            <td>
                                <mat-form-field class="register-full-width">
                                    <input matInput placeholder="Username" [(ngModel)]="user.username" name="username" required />
                                </mat-form-field>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <mat-form-field class="register-full-width">
                                    <input matInput placeholder="Password" [(ngModel)]="user.password" type="password" name="password" required />
                                </mat-form-field>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <mat-form-field class="register-full-width">
                                    <input matInput placeholder="Name" [(ngModel)]="user.name" name="name" required />
                                </mat-form-field>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <mat-form-field class="register-full-width">
                                    <input matInput placeholder="Email" [(ngModel)]="user.email" type="email" name="email" required />
                                </mat-form-field>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <input (change)="selectLogoImage($event)" type="file" id="logo_file" />
                            </td>
                        </tr>
                    </table>
                </form>
                <mat-spinner [style.display]="showSpinner ? 'block' : 'none'"></mat-spinner>
            </mat-card-content>
            <mat-card-actions>
                <button mat-raised-button (click)="registerUser()" color="primary">
					Register user
				</button>
            </mat-card-actions>
        </mat-card>
    </mat-tab>
</mat-tab-group>
