<mat-card class="register-card text-center">
    <mat-card-header>
        <mat-card-title>Register</mat-card-title>
    </mat-card-header>
    <mat-card-actions>
        <button mat-raised-button (click)="registerUser()" color="primary">Register user</button>
    </mat-card-actions>
    <mat-card-content>
        <form class="register-form">
            <table class="table-register" cellspacing="0">
                <tr>
                    <td>
                        <mat-form-field class="register-full-width">
                            <input matInput placeholder="Username" [(ngModel)]="user.username" name="username" required>
                        </mat-form-field>
                    </td>
                </tr>
                <tr>
                    <td>
                        <mat-form-field class="register-full-width">
                            <input matInput placeholder="Password" [(ngModel)]="user.password" type="password"
                                name="password" required>
                        </mat-form-field>
                    </td>
                </tr>
                <tr>
                    <td>
                        <mat-form-field class="register-full-width">
                            <input matInput placeholder="Name" [(ngModel)]="user.name" name="name" required>
                        </mat-form-field>
                    </td>
                </tr>
                <tr>
                    <td>
                        <mat-form-field class="register-full-width">
                            <input matInput placeholder="Email" [(ngModel)]="user.email" type="email" name="email"
                                required>
                        </mat-form-field>
                    </td>
                </tr>
                <tr>
                    <td>
                        <input (change)="selectLogoImage($event)" type="file" id="logo_file">
                    </td>
                </tr>
            </table>
        </form>
        <mat-spinner [style.display]="showSpinner ? 'block' : 'none'"></mat-spinner>
    </mat-card-content>
    <mat-card-actions>
        <button mat-raised-button (click)="registerUser()" color="primary">Register user</button>
    </mat-card-actions>
</mat-card>