.login-card {
	width: 480px;
	margin: 0px auto;
	top: 180px;
	border-radius: 10px;
	/* margin: 10% auto; */
}

@media screen and (max-width: 520px) {
	.login-card {
		width: 90%;
	}
}

.mat-card-title {
	font-size: 42px;
}

mat-card-header .mat-card-header-text {
	margin: 0px auto !important;
	margin-bottom: 20px !important;
}

.bg-gradient {
	background: #2bc0e4; /* fallback for old browsers */
	background: -webkit-linear-gradient(
		to bottom,
		#eaecc6,
		#2bc0e4
	); /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(
		to bottom,
		#eaecc6,
		#2bc0e4
	); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.wrapper {
	min-height: 100vh;
	margin-top: -65px;
}

.mat-form-field {
	width: 90%;
	margin: 0px auto;
	font-size: 22px;
}

.login-button {
	margin-bottom: 10px !important;
	height: 40px;
	width: 200px;
	background-color: #2bc0e4;
}
